USE [QuanLyNhieuDayTro]
GO
/****** Object:  Table [dbo].[KHUTRO]    Script Date: 14/05/2018 2:06:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUTRO](
	[IDKHUTRO] [nvarchar](10) NOT NULL,
	[TENKHUTRO] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKHUTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGTRO]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGTRO](
	[IDPHONGTRO] [nvarchar](10) NOT NULL,
	[CHATLUONGPHONG] [nvarchar](10) NOT NULL,
	[GIATIEN] [int] NULL,
	[DIENTICH] [int] NOT NULL,
	[TINHTRANGPHONG] [int] NULL,
	[SONGUOITOIDA] [int] NOT NULL,
	[IDKHUTRO] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPHONGTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOITHUE]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOITHUE](
	[IDNGUOITHUE] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](200) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](250) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[IDPHONG] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNGUOITHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vChiTietNguoiThue]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vChiTietNguoiThue]
AS
SELECT  nt.*,kt.TENKHUTRO
FROM NGUOITHUE nt , KHUTRO kt,PHONGTRO
WHERE kt.IDKHUTRO=PHONGTRO.IDKHUTRO and nt.IDPHONG=PHONGTRO.IDPHONGTRO
GO
/****** Object:  Table [dbo].[NGUOIQUANLY]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIQUANLY](
	[IDNGUOIQUANLY] [nvarchar](10) NOT NULL,
	[PASSNGQL] [nvarchar](16) NOT NULL,
	[HOTEN] [nvarchar](200) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](250) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[IDKHUTRO] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNGUOIQUANLY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vQuanLyNQL]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vQuanLyNQL]
as
select nt.IDNGUOIQUANLY, nt.HOTEN,nt.CMND,nt.NGAYSINH,nt.SDT,pt.TENKHUTRO
from NGUOIQUANLY nt,KHUTRO pt
where nt.IDKHUTRO=pt.IDKHUTRO
GO
/****** Object:  View [dbo].[vBaoCaoPhongTro]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vBaoCaoPhongTro]
as
select kt.TENKHUTRO ,pt.IDPHONGTRO,pt.CHATLUONGPHONG,pt.DIENTICH,pt.TINHTRANGPHONG,pt.GIATIEN,pt.SONGUOITOIDA
from PHONGTRO pt,KHUTRO kt
where kt.IDKHUTRO=pt.IDKHUTRO
GO
/****** Object:  Table [dbo].[CHUQUANLY]    Script Date: 14/05/2018 2:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUQUANLY](
	[IDCHUQUANLY] [nvarchar](10) NOT NULL,
	[PASSBOSS] [nvarchar](16) NOT NULL,
	[HOTEN] [nvarchar](200) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](250) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCHUQUANLY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUQUANLY] ([IDCHUQUANLY], [PASSBOSS], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT]) VALUES (N'ADMIN', N'12345', N'Nguyễn Văn Tuấn', CAST(N'1998-02-08' AS Date), N'231103411', N'Gia Lai', N'0963199444')
INSERT [dbo].[KHUTRO] ([IDKHUTRO], [TENKHUTRO], [DIACHI]) VALUES (N'KT1', N'Khu trọ A', N'Sư Vạn Hạnh, Phường 3, Quận 10')
INSERT [dbo].[KHUTRO] ([IDKHUTRO], [TENKHUTRO], [DIACHI]) VALUES (N'KT2', N'Khu trọ B', N'285 An Dương Vương, Phường 4, Quận 5')
INSERT [dbo].[KHUTRO] ([IDKHUTRO], [TENKHUTRO], [DIACHI]) VALUES (N'KT3', N'Khu trọ C', N'59 Điện Biên Phủ, Phường DaKao, Quận 3')
INSERT [dbo].[NGUOIQUANLY] ([IDNGUOIQUANLY], [PASSNGQL], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT], [IDKHUTRO]) VALUES (N'ID01', N'12345', N'Trần Yến Nhi', CAST(N'1968-01-07' AS Date), N'12345678', N'Đà Nẵng', N'0982134121', N'KT1')
INSERT [dbo].[NGUOIQUANLY] ([IDNGUOIQUANLY], [PASSNGQL], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT], [IDKHUTRO]) VALUES (N'ID02', N'12345', N'Nguyễn Như Quỳnh', CAST(N'1968-12-28' AS Date), N'12345677', N'TP.HCM', N'0922134121', N'KT2')
INSERT [dbo].[NGUOIQUANLY] ([IDNGUOIQUANLY], [PASSNGQL], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT], [IDKHUTRO]) VALUES (N'ID03', N'12345', N'Đỗ Thị Thanh Thi', CAST(N'1968-05-10' AS Date), N'12345778', N'Đăk Lăk', N'01682124178', N'KT3')
INSERT [dbo].[NGUOITHUE] ([IDNGUOITHUE], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT], [IDPHONG]) VALUES (N'ID001', N'Nguyễn Thị Q', CAST(N'1998-03-10' AS Date), N'987654321', N'Cà Mau', N'01682141152', N'P03')
INSERT [dbo].[NGUOITHUE] ([IDNGUOITHUE], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT], [IDPHONG]) VALUES (N'ID002', N'Trần Thị W', CAST(N'1999-02-12' AS Date), N'987654322', N'Hà Nội', N'01684141152', N'P05')
INSERT [dbo].[NGUOITHUE] ([IDNGUOITHUE], [HOTEN], [NGAYSINH], [CMND], [DIACHI], [SDT], [IDPHONG]) VALUES (N'ID003', N'Lê Thị Elip', CAST(N'1997-08-15' AS Date), N'987654323', N'Khánh Hòa', N'01682041152', N'P06')
INSERT [dbo].[PHONGTRO] ([IDPHONGTRO], [CHATLUONGPHONG], [GIATIEN], [DIENTICH], [TINHTRANGPHONG], [SONGUOITOIDA], [IDKHUTRO]) VALUES (N'P01', N'Tốt', 2400000, 80, 0, 4, N'KT1')
INSERT [dbo].[PHONGTRO] ([IDPHONGTRO], [CHATLUONGPHONG], [GIATIEN], [DIENTICH], [TINHTRANGPHONG], [SONGUOITOIDA], [IDKHUTRO]) VALUES (N'P02', N'TB', 1200000, 40, 0, 3, N'KT1')
INSERT [dbo].[PHONGTRO] ([IDPHONGTRO], [CHATLUONGPHONG], [GIATIEN], [DIENTICH], [TINHTRANGPHONG], [SONGUOITOIDA], [IDKHUTRO]) VALUES (N'P03', N'Khá', 1800000, 60, 1, 3, N'KT1')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHUQUANL__F67C8D0B240CB60A]    Script Date: 14/05/2018 2:06:07 AM ******/
ALTER TABLE [dbo].[CHUQUANLY] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOIQUA__F67C8D0B355F9511]    Script Date: 14/05/2018 2:06:07 AM ******/
ALTER TABLE [dbo].[NGUOIQUANLY] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOITHU__F67C8D0B98CA8B6C]    Script Date: 14/05/2018 2:06:07 AM ******/
ALTER TABLE [dbo].[NGUOITHUE] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NGUOIQUANLY]  WITH CHECK ADD FOREIGN KEY([IDKHUTRO])
REFERENCES [dbo].[KHUTRO] ([IDKHUTRO])
GO
ALTER TABLE [dbo].[NGUOITHUE]  WITH CHECK ADD FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONGTRO] ([IDPHONGTRO])
GO
ALTER TABLE [dbo].[PHONGTRO]  WITH CHECK ADD FOREIGN KEY([IDKHUTRO])
REFERENCES [dbo].[KHUTRO] ([IDKHUTRO])
GO
ALTER TABLE [dbo].[PHONGTRO]  WITH CHECK ADD CHECK  (([TINHTRANGPHONG]=(1) OR [TINHTRANGPHONG]=(0)))
GO
